
# Python caches
__pycache__/
*.pyc

# Virtual environment
rag_env/

# VSCode settings (optional)
.vscode/

# Data files that can be regenerated
data/

# Documents
docs/

#environment variables
.env